main.wrapper {
    background-color: #E6F7FF;
    padding: 1rem;
    border-top: 1px solid #808080;
}

main.wrapper div.welcome div button {
    padding: 0.5rem 1.5rem;
    background-color: #0000ff;
    border: 0;
    outline: 0;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}

main.wrapper div.welcome div a {
    text-decoration: none;
}

main.wrapper div.welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

main.wrapper div.card-container {
    /* border: 2px solid black; */
    display: flex;
    gap: 1rem;
    width: 100%;
    height: 15%;
}

main.wrapper div.card-container div.card {
    background-color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
}

main.wrapper div.card-container div.card>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

main.wrapper div.card-container div.card.one p {
    color: #0be10b;
    font-weight: bold;
    padding-top: 1rem;
}

main.wrapper div.card-container div.card.one div:nth-child(2) i {
    background-color: #0be10b;
    padding: 0.5rem;
    border-radius: 50%;
    color: #fff;
}

main.wrapper div.card-container div.card.two p {
    color: #800080;
    font-weight: bold;
    padding-top: 1rem;
}

main.wrapper div.card-container div.card.two div:nth-child(2) i {
    background-color: #800080;
    padding: 0.5rem;
    border-radius: 50%;
    color: #fff;
}

main.wrapper div.card-container div.card.three p {
    color: #0000ff;
    font-weight: bold;
    padding-top: 1rem;
}

main.wrapper div.card-container div.card.three div:nth-child(2) i {
    background-color: #0000ff;
    padding: 0.5rem;
    border-radius: 50%;
    color: #fff;
}

main.wrapper div.card-container div.card.four p {
    color: #ffa500;
    font-weight: bold;
    padding-top: 1rem;
}

main.wrapper div.card-container div.card.four div:nth-child(2) i {
    background-color: #ffa500;
    padding: 0.5rem;
    border-radius: 50%;
    color: #fff;
}
