aside {
    background-color: #BEE3FE;
    width: 100%;
    height: 100%;
}

div.sidebar {
    margin-top: 1rem;
    width: 100%;
    height: 50%;
}

ul.sidebar {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    /* padding: 1rem 0; */
    font-size: 1.2rem;
    cursor: pointer;
}

ul.sidebar li.sidebar {
    list-style-type: none;
    /* border: 2px solid yellow; */
    width: 100%;
    height: 100%;

}

ul.sidebar li.sidebar a {
    text-decoration: none;
    color: #000;
    padding-left: 0.5rem;
    position: relative;
    /* border: 2px solid black; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

ul.sidebar li.sidebar a i {
    padding-right: 1rem;
}

ul.sidebar li.sidebar a:hover,
ul.sidebar li.sidebar a.active {
    padding-left: 1.5rem;
}

.active {
    background-color: #E6F7FF;
    padding: 2rem 0 2rem 1rem;

}

.active::before {
    content: "";
    border-left: 6px solid #FFBFF9;
    position: absolute;
    top: 0;
    left: 1%;
    height: 100%;
}